* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #E7E7E7;
}

/* ******************* Fonts style ************************* */

h1 {
    font-weight: lighter;
    font-size: 100px;
    letter-spacing: -1.5px;
}

h2 {
    font-weight: lighter;
    font-size: 62px;
    letter-spacing: -0.5px;
}

h3 {
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0px;
}

h4 {
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 0.25px;
    color: black;
}

h5 {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0px;
}

h6 {
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.15px;
}

.subtitle1 {
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0.15px;
}

.subtitle2 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.1px;
}

.bodyfont1 {
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;

}

.bodyfont2 {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.25px;

}

/* ********************** CLASSES *************************** */
 
.caption {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.25px;

}

.overline {
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 1.5px;

}

.mainContainer {
    margin: 0 15%;
    /* margin-left: 15%;
    margin-right: 15%; */
}

.pageHead {
    width: 100%;
}

.topTitle {
    background-color: #3C3633;
    color: #F8EDE5;
    text-align: center;
    font-size: 1rem;
    min-height: 40px;
    box-sizing: content-box;
    border: 1px solid #c5c3c3;
}

.topTitle p {
    padding: 0.5rem;
}

.mainDarkBtn {
    color: #F8EDE5;
    background-color: #3C3633;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    letter-spacing: 0.25px;
    cursor: pointer;

}

.mainDarkBtn:hover {
    color: white;
    background-color: black;
}

.newCollctionBtn {
    margin-bottom: 25px;
    color: #F8EDE5;
    background-color: #3C3633;
    box-sizing: content-box;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    letter-spacing: 0.25;
    font-size: 15px;
    border: none;
    display: none;
    cursor: pointer;
}

.newCollctionBtn:hover {
    color: white;
    background-color: black;
    display: none;
}

.navContainer {
    background-color: #F8EDE5;
    color: #3C3633;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    border: 1px solid #c5c3c3;

}

.logoInfo {
    width: 120px;
    margin-left: 1rem;
    align-items: center;
    cursor: pointer;

}


.footerlogoInfo {
    width: 120px;
    margin-left: 1rem;
    align-items: center;
    cursor: pointer;
}

/*  *********************************** NavBar Section Classes ************************* */
.navList {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.navItem {
    list-style: none;
    margin-right: 2rem;
}

.navItem a {
    text-decoration: none;
    color: #3C3633;
}

/*  *********************************** Hero Section Classes ************************* */
.hero {
    background-image: url(./images/hero.jpg);
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 0 0 10px 10px;

}

.hero p,
h2,
button {
    align-self: center;
    color: white;
    font-weight: 500;
    padding-top: 0.6rem;
}

.hero button {
    margin-top: 0.6rem;
}

.footerContainer {
    background-color: #3C3633;
    color: #F8EDE5;
    display: flex;
    flex-direction: row;
}

.showProductCategories {
    /* display:flex; */
    background-color: white;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 60px;

}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: baseline;
    align-content: center;
    text-align: center;
}

.showProductCategories div.title a {
    color: black;
    text-decoration: underline;
    margin-top: 15px;
    align-self: center;

}

.productSCategoriesShowPart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.productCard {
    background-color: white;
    border-radius: 10px;
    width: 22%;
    height: 90%;
    box-shadow: 1px 4px 4px #c5c3c3;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    text-align: center;

}

.categoryName {
    color: black;
    text-align: center;
    font-size: 1.1rem;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    align-self: center;


}

.categoryoneLineName {
    color: black;
    text-align: center;
    font-size: 1.1rem;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
    padding-top: 13px;
    align-self: center;

}

.categorySampleImage {
    height: 75%;
    border-radius: 10px 10px 0 0;
    background-size: cover;

}

.photoShowFormat {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;


}

/*  *********************************** Best Selling Section Classes ************************* */

.bestSelling {
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 60px;
}

.bestSelling h4 {
    color: black;
    align-items: center;
    text-align: left;
    margin-top: 25%;
    margin-left: 2rem;
}

.bestSelling p {
    color: black;
    align-items: center;
    text-align: left;
    padding-top: 0.75rem;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.75rem;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.1px;
}

.bestSelling button {

    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
    width: 200px;

}

.bestSelling a {
    margin-left: 2rem;
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 15px;
    display: block;
}

.bestSelleindInfo {
    background-color: #F8EDE5;
    color: black;
    width: 50%;
    border-radius: 10px 0 0 10px;

}

.bestSellingPhoto {
    background-image: url(./images/bestseller.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

.markusPhoto {
    background-image: url(./images/markus-homepage.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    border-radius: 0 10px 10px 0;

}

.CustomizationHomepagePhoto {
    background-image: url(./images/customization.webp);
    background-size: cover;
    background-position: center;
    width: 65%;
    border-radius: 10px 0 0 10px;
}

.customizationInfo {
    background-color: #F8EDE5;
    color: black;
    width: 50%;
    border-radius: 0 10px 10px 0;

}

.footerContainer {
    height: 150px;
    background-color: #3C3633;
    color: #F8EDE5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerList {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.footerItem {
    list-style: none;
    margin-right: 2rem;
}

.footerItem a {
    text-decoration: none;
    color: #F8EDE5;
}

.showProductDetails {
    background-color: white;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productPhotosByDetail {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 850px;
    background-color: #ECEAEA;
    text-align: center;
    padding-top: 2rem;
}

.middleMainPhoto {
    width: 60%;
    height: 600px;
    background-color: #eceaea;
    border-radius: 5px;
    display: inline-block;
    margin: 2rem;

}

.middleMainPhoto img {
    width: 100%;
}

.smallPhotoCantainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.smallPhoto {
    width: 75px;
    height: 75px;
    background-color: #eceaea;
    border-radius: 5px;
    box-shadow: 1px 4px 4px #c5c3c3;
    margin-left: 1rem;
    margin-right: 1rem;

}

.tumbnailPhoto {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.productDetailInfo {
    background-color: #F8EDE5;
    color: black;
    width: 50%;
    height: 850px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.productDetailInfo p {
    color: black;
    align-items: center;
    text-align: left;
    margin-right: 2rem;
    line-height: 1.75rem;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.1px;
    margin-top: 10px;
}

.productDetailInfo a {
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 15px;
    display: block;
}

.mainLightBtn {
    color: black;
    background-color: white;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    letter-spacing: 0.25px;

}

.mainLightBtn:hover {
    color: black;
    background-color: white;
    box-shadow: 1px 4px 4px #c5c3c3;
    border: 2px solid black;


}

.inputStyle {
    color: black;
    background-color: white;
    text-align: center;
    box-sizing: content-box;
    min-height: fit-content;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 15px;
    width: 50px;
}

.mainLightBtnMini {
    color: black;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F8EDE5;
    font-size: 20px;
    letter-spacing: 0.25px;
    width: 10px;
    display: inline-block;

}

button.mainLightBtnMini.cardMiniBtn {
    background-color: #eceaea ;
}

div.mainLightBtnMini {
    color: black;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid #F8EDE5;
    font-size: 20px;
    letter-spacing: 0.25px;
    width: 10px;
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;

}

button.mainLightBtnMini {
    background-color: #F8EDE5;
    box-shadow: 1px 2px 2px #b6b0ac;
}

.colorBoxName {
    background-color: #F8EDE5;
    color: black;
    text-align: center;
    box-sizing: content-box;
    padding: 1px;
    width: 30px;
    display: inline-block;
    margin-top: 2px;
    margin-left: 1px;
    font-size: small;
}


.colorchoosingBox {
    color: black;
    background-color: white;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(187, 184, 184);
    font-size: 15px;
    letter-spacing: 0.25px;
    display: inline-block;

}
.colorchoosingBoxActive {
    color: black;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(187, 184, 184);
    font-size: 15px;
    letter-spacing: 0.25px;
    display: inline-block;
    box-shadow: 2x solid darkgray;

}

.blackProduct {
    background-color: black;
    color: white;
}

.sandProduct {
    background-color: #ECEAEA;
    color: black;

}

/*  ************************* CARD PAGE CLASSES ********************************* */


.showCard {
    background-color: #ECEAEA;
    color: black;
    height: 400px;
    padding: 0 2rem;
}

.breadCrumbCantainer {
    background-color: #f6f6f6;
    color: black;
    padding: 20px 40px;
    text-align: center;

}

.breadCrumb {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;

}

.breadCrumb li+li::before {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    content: "/\00a0";
}

.cardTotal {
    background-color: #ECEAEA;
}

.cartPageImage {
    background-color: #ECEAEA;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin: 1rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1.75fr 1fr 0.5fr 1fr;
    grid-template-rows: 0.2f 1fr;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    background-color: #eceaea;

}

.cardContainer hr {
    grid-column: 1 / span 4;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;


}

.cardCell {
    display: flex;
    color: black;
    text-align: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin-left: 1rem;

}

.proInfo {
    text-align: left;
}

.proInfo a {
    color: black;
}

.lastLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: large;
    text-align: center;
    padding: 0 2rem 2rem 2rem;

}

.lastLine a {
    color: black;
    font-weight: normal;

}

.lastLineItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 40%;
}

#checkOutBtn {
    width: 40%;
}


/* Class for order confirmed page */

.confirmedInfo {
    background-color: #ECEAEA;
    color: black;
    padding: 10%;
    text-align: center;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}
