* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #E7E7E7;
}

h1 {
    font-weight: lighter;
    font-size: 100px;
    letter-spacing: -1.5px;
}

h2 {
    font-weight: lighter;
    font-size: 62px;
    letter-spacing: -0.5px;
}

h3 {
    font-weight: normal;
    font-size: 50px;
    letter-spacing: 0px;
}

h4 {
    font-weight: normal;
    font-size: 35px;
    letter-spacing: 0.25px;
    color: black;
}

h5 {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0px;
}

h6 {
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.15px;
}

.mainContainer {
    margin-left: 15%;
    margin-right: 15%;
}

.pageHead {
    width: 100%;
}

.topTitle {
    background-color: #3C3633;
    color: #F8EDE5;
    text-align: center;
    font-size: 1rem;
    min-height: 40px;
    box-sizing: content-box;
}

.topTitle p {
    padding: 0.5rem;
}

.mainBtn {
    color: #F8EDE5;
    background-color: #3C3633;
    box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    letter-spacing: 0.25px;

}
.mainBtn:hover {
    color:white;
    background-color:black;
    /* box-sizing: content-box;
    min-height: fit-content;
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: none; */

}

.navContainer {
    background-color: #F8EDE5;
    color: #3C3633;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

}

.logoInfo {
    width: 120px;
    margin-left: 1rem;
    align-items: center;
    padding: 0 !important;
}

.footerlogoInfo {
    width: 120px;
    margin-left: 1rem;
    align-items: center;
    padding: 0 !important;
}


.navList {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.navItem {
    list-style: none;
    margin-right: 2rem;
}

.navItem a {
    text-decoration: none;
    color: #3C3633;
}

.hero {
    background-image: url(./images/hero.jpg);
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 0 0 10px 10px;

}

.hero p,
h2,
button {
    align-self: center;
    color: white;
    font-weight: 500;
    padding-top: 0.6rem;
}

.hero button {
    margin-top: 0.6rem;
}

.footerContainer {
    background-color: #3C3633;
    color: #F8EDE5;
    display: flex;
    flex-direction: row;
}

.showProductCategories {
    /* display:flex; */
    background-color: white;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 60px;

}
.title{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    justify-self:baseline;
    align-content: center;
    text-align: center;
}
.showProductCategories a{ 
    color:black;
    text-decoration: underline;
    margin-top: 15px;
    align-self: center;

}

.productSCategoriesShowPart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background-color: rgb(82, 63, 63); */
    /* margin-left: 2rem;
    margin-right: 2rem; */
    /* padding: 2rem; */
    height: 100%;
    width: 100%;
}

.productCard {
    background-color: white;
    border-radius: 10px;
    width: 22%;
    height: 90%;
    box-shadow: 1px 4px #c5c3c3;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.categoryName {
    color: black;
    text-align: center;
    font-size: 1.1rem;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
    align-self: center;


}
.categoryoneLineName{
    color: black;
    text-align: center;
    font-size: 1.1rem;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
    padding-top: 13px;
    align-self: center;

}

.categorySampleImage {
    height: 75%;
    border-radius: 10px 10px 0 0;
    background-size: cover;

}
.photoShowFormat{
    width: 100%;    
    height: 100%;
    border-radius: 10px 10px 0 0 ;


}

.bestSelling {
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 60px;
}

.bestSelling h4 {
    color: black;
    align-items: center;
    text-align: left;
    margin-top: 25%;
    margin-left: 2rem;
}

.bestSelling p {
    color: black;
    align-items: center;
    text-align: left;
    padding-top: 0.75rem;
    margin-left: 2rem;
    margin-right:2rem;
    line-height:1.75rem;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.1px;
}

.bestSelling button {

    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-left: 2rem;
    width: 200px;
    
}
.bestSelling a{
    margin-left: 2rem;
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 15px;
    display: block;
}

.bestSelleindInfo {
    background-color: #F8EDE5;
    color: black;
    width: 50%;
    border-radius: 10px 0 0 10px;

}

.bestSellingPhoto {
    background-image: url(./images/bestseller.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

.markusPhoto {
    background-image: url(./images/markus-homepage.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    border-radius: 0 10px 10px 0;

}

.CustomizationHomepagePhoto {
    background-image: url(./images/customization.webp);
    background-size: cover;
    background-position: center;
    width: 65%;
    border-radius: 10px 0 0 10px;
}
.customizationInfo{
    background-color: #F8EDE5;
    color: black;
    width: 50%;
    border-radius: 0 10px 10px 0;

}

.footerContainer {
    height: 150px;
    background-color: #3C3633;
    color: #F8EDE5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerList {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.footerItem {
    list-style: none;
    margin-right: 2rem;
}

.footerItem a {
    text-decoration: none;
    color: #F8EDE5;
}